body {
  font-family: "Merriweather", serif;
  background-image: url(sky2.jpg);
  background-color: rgb(203, 239, 250);
  background-size: auto;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  font-size: 18px;
  color: rgb(13, 13, 90);
}

li::first-letter {
  text-transform: capitalize;
}

small {
  text-align: center;
}

.weather-app-wrapper {
  max-width: 800px;
  margin: 20px auto;
}

.weather-app {
  border: 1px solid rgba(153, 149, 149, 0.5);
  border-radius: 8px;
  padding: 30px;
  background-color: rgba(240, 255, 255, 0.3);
}

.units {
  font-size: 17px;
  position: relative;
  top: -17px;
}

.forecast {
  font-size: 15px;
  color: rgba(21, 6, 75, 0.7);
  text-align: center;
}

.forecast-temperature-max {
  font-size: 14px;
  color: rgba(21, 6, 75, 0.9);
}

.forecast-temperature-min {
  font-size: 14px;
  color: rgba(21, 6, 75, 0.5);
}

#city-input {
  width: auto;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

#fahrenheit-link {
  text-decoration: none;
  color: rgb(13, 13, 90);
  font-weight: 500;
}

#celsius-link {
  text-decoration: none;
  color: rgb(13, 13, 90);
  font-weight: 500;
}

#search-button {
  background-color: rgb(158, 209, 243);
  position: relative;
  left: -56px;
  transition: 150ms ease-in-out;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

#search-button:hover {
  background-color: #2e94b9;
}

#location-button {
  background-color: rgb(158, 209, 243);
  color: #144a5e;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

#location-button:hover {
  background-color: #2e94b9;
  color: rgb(212, 232, 245);
}

#current-city {
  font-size: 45px;
}

#current-temperature {
  font-size: 45px;
}
