body {
  font-family: "Merriweather", serif;
  background-image: url("sky.jpg");
}

.weather-app {
  max-width: 800px;
  margin: 20px auto;
  border: 1px solid rgba(153, 149, 149, 0.5);
  border-radius: 8px;
  padding: 20px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  font-size: 18px;
  color: rgb(13, 13, 90);
}

#weather-icon {
  font-size: 60px;
}

small {
  text-align: center;
}

#searchbar {
  width: auto;
}

#search-button {
  background-color: rgb(140, 140, 248);
  position: relative;
  left: -56px;
}

#location-button {
  background-color: rgb(140, 140, 248);
}
